<div class="field">
  <%= form.select :document_type, handler.document_types_for_select, prompt: true %>
</div>

<div class="field">
  <%= form.text_field :document_number, help_text: "" %>
</div>

<%= form.hidden_field :handler_name %>
